#sales-log {
  margin: 20px 0;
}

#sales-log .header {
  margin: 20px 0;
  position: relative;
}

#sales-log .header h1 {
  text-align: center;
  font-size: 30px;
  color: #fff;
}

#sales-log .header svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

#sales-log .sales-table {
  width: 100%;
  margin-bottom: calc(30vh + 30px);
  border-collapse: collapse;
  border-radius: 10px;
  background-color: #fff;
}

#sales-log .sales-table thead {
  background-color: #152b5e;
}

#sales-log .sales-table thead th {
  padding: 5px 0;
  color: #fff;
}

#sales-log .sales-table thead th:first-child {
  border-radius: 10px 0 0 0;
}

#sales-log .sales-table thead th:last-child {
  border-radius: 0 10px 0 0;
}

#sales-log .sales-table tbody td {
  padding: 5px 0;
  text-align: center;
}