#sales-log {
  margin: 20px 0;
}

#sales-log .header {
  margin: 20px 0;
  position: relative;
}

#sales-log .header h1 {
  text-align: center;
  font-size: 30px;
  color: #fff;
}

#sales-log .header svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}