#part {
  margin: 20px 0;
}

#part .header {
  margin: 20px 0;
  position: relative;
}

#part .header h1 {
  text-align: center;
  font-size: 30px;
  color: #fff;
}

#part .header svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

#part .part-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  background-color: #fff;
}

#part .part-table thead {
  background-color: #152b5e;
}

#part .part-table thead th {
  padding: 5px 0;
  color: #fff;
}

#part .part-table thead th:first-child {
  border-radius: 10px 0 0 0;
}

#part .part-table thead th:last-child {
  border-radius: 0 10px 0 0;
}

#part .part-table tbody td {
  padding: 5px 0;
  text-align: center;
}

#part .part-table tbody button {
  margin: 0 3px;
  padding: 4px 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  background-color: #17a01e;
}
