#trunk {
  width: 600px;
  max-height: 30vh;
  position: fixed;
  bottom: 0px;
  border-radius: 10px;
  overflow: scroll;
  -ms-overflow-style: none;
}

#trunk::-webkit-scrollbar {
  display: none;
}

@media (max-width: 600px) {
  #trunk {
    width: 100%;
  }
}

#trunk h1 {
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
  text-align: center;
  background-color: #152b5e;
  color: #fff;
}

#trunk .trunk-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
}

#trunk .trunk-table thead {
  background-color: #ccc;
}

#trunk .trunk-table thead th {
  padding: 5px 0;
}

#trunk .trunk-table thead tr:nth-child(1) {
  width: 15%;
}

#trunk .trunk-table thead tr:nth-child(2) {
  width: 15%;
}

#trunk .trunk-table thead tr:nth-child(4) {
  width: 15%;
}

#trunk .trunk-table thead tr:nth-child(5) {
  width: 15%;
}

#trunk .trunk-table tbody td {
  padding: 5px 0;
  text-align: center;
}

#trunk .trunk-table tbody button {
  margin: 0 3px;
  padding: 4px 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

#trunk .trunk-table tbody .keep-btn {
  background-color: #3d27b9;
}

#trunk .trunk-table tbody .sell-btn {
  background-color: #c93838;
}

@media (max-width: 769px) {
  #trunk {
    max-height: 40vh;
  }
}