#admin-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#admin-menu img {
  width: 400px;
  margin: 10px;
}

#admin-menu .name {
  margin: 20px 0;
  font-size: 45px;
  color: #fff;
}

#admin-menu .back-btn {
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  font-size: 15px;
  cursor: pointer;
}

#admin-menu .manage-menu {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#admin-menu .manage-menu .col-4 {
  width: 25%;
  position: relative;
  box-sizing: border-box;
}

#admin-menu .manage-menu .col-4 .menu-item {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

#admin-menu .manage-menu .col-4 .menu-item:hover {
  transform: translateZ(0) scale(0.98);
}

#admin-menu .manage-menu .col-4 .menu-item svg {
  font-size: 60px;
}

#admin-menu .manage-menu .col-4 .menu-item p {
  margin: 10px 0;
  font-size: 18px;
}

@media (max-width: 769px) {
  #admin-menu .manage-menu .col-4 {
    width: 50%;
  }
}