#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header img {
  width: 400px;
  margin: 10px 0;
}

#header .name {
  margin: 10px 0;
  font-size: 45px;
  color: #fff;
}