#header {
  width: 100%;
  padding: 0 10px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header img {
  width: 400px;
  margin: 10px 0;
}

#header .name {
  margin: 10px 0;
  font-size: 45px;
  color: #fff;
}

@media (max-width: 769px) {
  #header img {
    width: 100%;
  }
}